@font-face {
	font-family: "bau";
	src: url("bau.woff") format("woff");
}

@font-face {
	font-family: "bau";
	src: url("bau-medium.woff") format("woff");
	font-weight: bold;
}

@font-face {
	font-family: "korp";
	src: url("Korpus-Grotesk-B.woff") format("woff");
	font-weight: 200;
}
@font-face {
	font-family: "korp";
	src: url("Korpus-Grotesk-C.woff2") format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "korp";
	src: url("Korpus-Grotesk-D.woff") format("woff");
	font-weight: 600;
}

html, body {
	background-color: rgba(0,0,0,0);
	font-family: "korp", verdana;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	margin:0;
	padding:0;
	overflow: hidden; 
	color: black;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid black;
}

a:hover {
	border-bottom: 2px solid black;
	background-color: black;
	color: white;
}

.pastel {
	z-index: 1;
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #EEF2F5;
}

#container {
	z-index: 2;
	position: relative;
	width: fit-content;
	height: 100%;
	margin: 0 auto;
}

#header {
	width: 100%;
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom:1em;
}

#content {
	text-align: left;
	background-color: white;
	padding: 40px;
	border: 1px solid black;
}

#content > * {
	display: block;
	padding: 5px;
	background-color: white;
}

#footer {
	background-color: white;
}

.disclaimer {
	font-size: 16px;
	padding: 5px;
	margin: 10px;
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 10px;
	background-color: white;
	border: 1px solid black;
}

.columns {
	display: flex !important;
	flex-direction: row;
}

.columns > div {
	padding: 30px;
}

.underline {
	display: inline-block;
	background: black;
	color: white;
	margin: 0 ;
	padding: 5px;
}

.work {
	margin-top: 45px;
}

.projects > a {
	display: inline-block;
}
