html, body {
  background-color: #fff;
  font-family: "helvetica neue", verdana;
  font-weight: 300;
  font-size: 14px;
  margin:0;
  padding:0;
  height: 100%;
  overflow-x: auto; 
  overflow-y: hidden;
}

h3 {
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0 0 0 0;
  list-style-position: inside;
  padding-left: 0;
}

li {
	list-style: none;
	margin-bottom: 10px;
	padding-left: 5px;
}

li:before {
	content: "⇾  ";
	margin-right: 2px;
}

img {
  width: auto;
}

#container {
	background-color: #FFFFFF;
	margin:0 auto;
	max-width: 400px;
	text-align: center;
}


#header {
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-top: 50px;
	padding-bottom:1em;
	border-bottom: 1px solid #000;
}

#header .logo {
	display:inline-block;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 300;
}

#menu {
	display: inline-block;
	margin-left: 1em;
	position:relative;
}

#menu a {
	margin-right: 2em;
	padding-left: 5px;
}

#menu a:before {
	content: "⇾ ";
	margin-right: 2px;
}

#content {
	display: inline-block;
	width: 100%;
	text-align: left;
	background-color: #F6F6F6;
	padding-bottom: 20px;
}

.category {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	padding-right: 5px;
	float: left;

}

.row a {
	text-decoration:none;
}

.siteentry {
	display: inline;
	width:auto;
}

.sitelink {
	text-decoration: none;
}

.siteimg {
	width: 50px;
	height: 50px;
}

#footer {
	margin-top: 20px;
	padding-top: 10px;
	margin-left: 20px;
	border-top: 1px solid #888888;

}
